@import "../scss/config.scss";

:root{
    --backgroundColor: #EBEBEB;
    --textColor: #831e97;
    --orange: #F26944;
    --green: #8CB738;
    --grey: #0000004E;
    --blue: #4285F4;
    --black: #191626;
    --white: white;
    --icon-color: white;
    --icon-hover-color: var(--orange);
    --font: Roboto;
    --font-header: 26px;
    --font-size1: 24px;
    --font-size2: 20px;
    --font-size3: 16px;
    --small-stock-color: #D74538;
    --big-stock-color: #97BD65;
    --medium-stock-color:#E3B947;

}
